dist
build
node_modules
src/components/Test*.tsx
coverage
mutation
.stryker-tmp
stats
.DS_Store
.idea/
templates/*/assembly/json
templates/*/assembly/bignum
templates/*/assembly/near.ts
templates/*/setup.js

templates/*/src/test.html
